body {
    word-break: break-word;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: left;
    font-size: 3em;
}

h2 {
    text-align: left;
    font-size: 2em;
}

p {
    text-align: left;
}

p.normal {
    font-size: 1em;
}

p.start_links {
    font-size: 1em;
}

p.update {
    font-size: 0.9em;
    color: #008000ff;
}

img.taken_pixel_3a {
    width: 40%;
    min-width: 640px;
}

figcaption {
    font-size: 0.9em;
}
