body {
    word-break: break-word;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: left;
    font-size: 3em;
    color: #000000ff;
}

h2 {
    text-align: left;
    font-size: 2em;
    color: #000000ff;
}

h3 {
    text-align: left;
    font-size: 1.5em;
    color: #000000ff;
}

h4 {
    text-align: left;
    font-size: 1.3em;
    color: #000000ff;
}

p {
    text-align: left;
    color: #000000ff;
}

p.normal {
    font-size: 1em;
}

p.start_links {
    font-size: 1em;
}

p.update {
    font-size: 0.9em;
    color: #008000ff;
}

p.declaration {
    font-size: 0.9em;
    color: #606060ff;
}

p.declaration em {
    font-style: italic;
}

p.transcription {
    font-size: 1em;
    color: #000000ff;
}

sup.sidenote {}

img.taken_pixel_3a, img.taken_pixel_3a_zoom_2x {
    width: 40%;
    min-width: 640px;
}

img.taken_pixel_3a_portrait {
    width: 15%;
    min-width: 240px;
}

figcaption {
    font-size: 0.9em;
    color: #000000ff;
}

.index_element {
    font-size: 1em;
    color: #000000ff;
}
